
  @model List<ReadVM<LocationVM>>
    <link rel="stylesheet" href="~/css/location.css" />
    <main class="main">
        <div class="topbar">
            <input type="text" placeholder="Search" style="padding: 8px 12px; border-radius: 6px; border: 1px solid #ccc; width: 250px;">
            <div><img src="images/man-user-circle-icon copy.svg" alt="User"></div>
        </div>
        <div class="title">Location</div>
        <div class="breadcrumb">Manage / <strong>Location</strong></div>
        <div class="location-form">
            <button onclick="addLocation()">Add Location</button>
        </div>
        <div class="table-box">
            <table>
                <thead>
                    <tr>
                        <th>Location Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Manage</th>
                    </tr>
                </thead>
            <tbody id="locationTable">
            @{
                for (int i = 0; i < @Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].data.address</td>
                        <td>@Model[i].data.latitude</td>
                        <td>@Model[i].data.longitude</td>
                        <td class="actions">
                                <a asp-action="Update" asp-controller="Location" asp-route-id="@Model[i].id">
                            <img src="images/edit-05-svgrepo-com.svg" alt="Edit" width="18" onclick="toggleEdit(this)">
                            </a>
                                <a href="#" onclick="confirmDelete(@Model[i].id)">
                            <img src="images/trash.png" alt="Delete" width="18" class="delete-icon">
                            </a>
                        </td>
                    </tr>
                }
            }
               </tbody>
            </table>
        <script>
                           function confirmDelete(id) {
                if (confirm("Are you sure to delete this Location?")) {
                    fetch(`/Location/Delete/${id}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {

                            window.location.reload();
                        } else {
                            alert("Delete failed.");
                        }
                    })
                    .catch(error => {
                        alert("Error: " + error);
                    });
                }
            }
        </script>
        </div>
    </main>

  



